#nprogress .bar {
  background: var(--vp-c-brand);
}

#nprogress .spinner-icon {
  border-top-color: var(--vp-c-brand);
  border-left-color: var(--vp-c-brand);
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--vp-c-brand), 0 0 5px var(--vp-c-brand);
}
