/* webfont-marker-begin */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html body {
  font-synthesis: style;
}
/* webfont-marker-end */

@font-face {
  font-family: "Inter var";
  font-style: normal;
  font-named-instance: 'Regular';
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: "Inter var";
  font-style: italic;
  font-weight: 100 900;
  font-named-instance: 'Regular';
  font-display: swap;
  src: url("../fonts/InterVariable-Italic.woff2") format("woff2");
}
/* Chinese quotes rendering fix. 中英文弯引号共享 Unicode 码位，确保引号使用中文字体渲染 */
@font-face {
  font-family: 'Chinese Quotes';
  src: local('PingFang SC Regular'), local('PingFang SC'), local('SimHei'),
    local('Source Han Sans SC');
  unicode-range: U+2018, U+2019, U+201C, U+201D; /* 分别是 ‘’“” */
}
