body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

.theme {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  background-color: #fff;
  border-bottom: 1px solid var(--border-color);
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1.5rem;
}

@media screen and (max-width: 719px) {
  header {
    padding-left: 4rem;
  }
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--sidebar-width);
  padding: var(--header-height) 0 1.5rem 0;
  border-right: 1px solid var(--border-color);
  background-color: #fff;
  z-index: 3;
  overflow-y: auto;
}

@media screen and (max-width: 959px) {
  aside {
    width: 16.4rem;
  }
}

@media screen and (max-width: 719px) {
  aside {
    transition: transform 0.2s ease;
    transform: translateX(-100%);
  }

  aside.open {
    transform: translateX(0);
  }
}

.sidebar-mask {
  z-index: 2;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
}

.sidebar-mask.sidebar-open {
  display: block;
}

main {
  margin-top: var(--header-height);
  margin-left: var(--sidebar-width);
}

@media screen and (max-width: 959px) {
  main {
    margin-left: 16.4rem;
  }
}

@media screen and (max-width: 719px) {
  main {
    margin-left: 0;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 600;
  line-height: 1.6;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.65rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--border-color);
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.15rem;
}

a.header-anchor {
  font-size: 0.85em;
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  margin-top: 0.125em;
  opacity: 0;
}

a.header-anchor:hover {
  text-decoration: none;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor,
h6:hover .header-anchor {
  opacity: 1;
}

p,
ol,
ul {
  line-height: 1.6;
}

ul,
ol {
  padding-left: 1.25em;
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}

tr {
  border-top: 1px solid #dfe2e5;
}

tr:nth-child(2n) {
  background-color: #f6f8fa;
}

th,
td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}

blockquote {
  margin: 1rem 0;
  border-left: .2rem solid #dfe2e5;
  padding: .25rem 0 .25rem 1rem;
  font-size: 1rem;
  color: #999;
}

blockquote > p {
  margin: 0;
}
