/** Base Styles */
:root {

  /**
   * Colors
   * --------------------------------------------------------------------- */

  --c-white: #ffffff;
  --c-black: #000000;

  --c-divider-light: rgba(60, 60, 67, .12);
  --c-divider-dark: rgba(84, 84, 88, .48);

  --c-text-light-1: #2c3e50;
  --c-text-light-2: #476582;

  --c-brand: #3eaf7c;

  /**
   * Typography
   * --------------------------------------------------------------------- */

  --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  /**
   * Z Indexes
   * --------------------------------------------------------------------- */

  --z-index-navbar: 1100;
  --z-index-sidebar: 1000;

  /**
   * Sizes
   * --------------------------------------------------------------------- */

  --header-height: 3.6rem;
}

/** Fallback Styles */
:root {

  --c-divider: var(--c-divider-light);

  --c-text: var(--c-text-light-1);
  --c-text-light: var(--c-text-light-2);

  --c-bg: var(--c-white);

  --code-padding-vertical: 1.5rem;
  --code-bg-color: #282c34;

}
