/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-white: #ffffff;
  --vp-c-black: #000000;

  --vp-c-neutral: var(--vp-c-black);
  --vp-c-neutral-inverse: var(--vp-c-white);

  --vp-c-mute-1: #d7d7d9;
  --vp-c-mute-2: #e3e3e5;
  --vp-c-mute-3: #eeeef0;

  --vp-c-indigo-1: #3451b2;
  --vp-c-indigo-2: #3a5ccc;
  --vp-c-indigo-3: #3e63dd;
  --vp-c-indigo-dimm-1: rgba(100, 108, 255, 0.08);
  --vp-c-indigo-dimm-2: rgba(100, 108, 255, 0.16);

  --vp-c-green-1: #3dd68c;
  --vp-c-green-2: #30a46c;
  --vp-c-green-3: #298459;
  --vp-c-green-dimm-1: rgba(16, 185, 129, 0.08);
  --vp-c-green-dimm-2: rgba(16, 185, 129, 0.16);

  --vp-c-yellow-1: #915930;
  --vp-c-yellow-2: #ffba1a;
  --vp-c-yellow-3: #ffc53d;
  --vp-c-yellow-dimm-1: rgba(234, 179, 8, 0.08);
  --vp-c-yellow-dimm-2: rgba(234, 179, 8, 0.16);

  --vp-c-red-1: #b8272c;
  --vp-c-red-2: #d93d42;
  --vp-c-red-3: #e5484d;
  --vp-c-red-dimm-1: rgba(244, 63, 94, 0.08);
  --vp-c-red-dimm-2: rgba(244, 63, 94, 0.16);

  --vp-c-sponsor: #db2777;
}

.dark {
  --vp-c-neutral: var(--vp-c-white);
  --vp-c-neutral-inverse: var(--vp-c-black);

  --vp-c-mute-1: #464b50;
  --vp-c-mute-2: #3c3f44;
  --vp-c-mute-3: #2e3035;

  --vp-c-indigo-1: #99a2ff;
  --vp-c-indigo-2: #5c73e7;
  --vp-c-indigo-3: #3e63dd;
  --vp-c-indigo-dimm-1: rgba(100, 108, 255, 0.08);
  --vp-c-indigo-dimm-2: rgba(100, 108, 255, 0.18);

  --vp-c-green-1: #3dd68c;
  --vp-c-green-2: #30a46c;
  --vp-c-green-3: #298459;
  --vp-c-green-dimm-1: rgba(16, 185, 129, 0.08);
  --vp-c-green-dimm-2: rgba(16, 185, 129, 0.18);

  --vp-c-yellow-1: #ffcc4d;
  --vp-c-yellow-2: #ffcb47;
  --vp-c-yellow-3: #ffc53d;
  --vp-c-yellow-dimm-1: rgba(234, 179, 8, 0.08);
  --vp-c-yellow-dimm-2: rgba(234, 179, 8, 0.18);

  --vp-c-red-1: #ff8589;
  --vp-c-red-2: #f15659;
  --vp-c-red-3: #e4292f;
  --vp-c-red-dimm-1: rgba(244, 63, 94, 0.08);
  --vp-c-red-dimm-2: rgba(244, 63, 94, 0.18);
}

/**
 * Colors: Background
 *
 * - `bg`: The bg color used for main screen.
 * - `bg-alt`: The alternative bg color used in places such as "sidebar",
 *   or "code block".
 * - `bg-elv`: The elevated bg color. This is used at parts where it "floats",
 *   such as "dialog".
 * - `bg-soft`: The bg color to slightly ditinguish some components from
 *   the page. Used for things like "carbon ads" or "table".
 * - `bg-mute`: The color to strongly distinguish some components from
 *   the page. Used for things like "inline code" or "hover state of menu item".
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-bg: #ffffff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f6f6f7;
  --vp-c-bg-mute: #eeeef0;
}

.dark {
  --vp-c-bg: #1e1e20;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #252529;
  --vp-c-bg-soft: #252529;
  --vp-c-bg-mute: #2e3035;
}

/**
 * Colors: Borders
 *
 * - `divider`: This is used for separators. This is used to divide sections
 *   within the same components, such as having separator on "h2" heading.
 * - `border`: This is designed for borders on interactive components.
 *   For example this should be used for a button outline.
 * - `gutter`: This is used to divide components in the page. For example
 *   the header and the lest of the page.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-border: #c2c2c4;
  --vp-c-divider: #e2e2e3;
  --vp-c-gutter: #e2e2e3;
}

.dark {
  --vp-c-border: #3c3f44;
  --vp-c-divider: #2e2e32;
  --vp-c-gutter: #000000;
}

/**
 * Colors: Text and Brand
 *
 * - `text-1`: Used for primary text.
 * - `text-2`: Used for muted texts, such as "inactive menu" or "info texts".
 * - `text-3`: Used for subtle texts, such as "placeholders" or "caret icon".
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-text-1: rgba(60, 60, 67);
  --vp-c-text-2: rgba(60, 60, 67, 0.75);
  --vp-c-text-3: rgba(60, 60, 67, 0.33);
}

.dark {
  --vp-c-text-1: rgba(255, 255, 245, 0.86);
  --vp-c-text-2: rgba(235, 235, 245, 0.6);
  --vp-c-text-3: rgba(235, 235, 245, 0.38);
}

/**
 * Colors: Brand
 *
 * The `brand` is used for "links", "active indicator", etc.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-dimm-1: var(--vp-c-indigo-dimm-1);
  --vp-c-brand-dimm-2: var(--vp-c-indigo-dimm-2);

  /* DEPRECATED: Use `--vp-c-brand-1` instead. */
  --vp-c-brand: var(--vp-c-brand-1);
}

/**
 * Typography
 * -------------------------------------------------------------------------- */

:root {
  --vp-font-family-base: 'Chinese Quotes', 'Inter var', 'Inter', ui-sans-serif,
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Helvetica, Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --vp-font-family-mono: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
}

/**
 * Shadows
 * -------------------------------------------------------------------------- */

:root {
  --vp-shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
  --vp-shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
  --vp-shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
  --vp-shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12);
  --vp-shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.16);
}

/**
 * Z-indexes
 * -------------------------------------------------------------------------- */

:root {
  --vp-z-index-local-nav: 10;
  --vp-z-index-nav: 20;
  --vp-z-index-layout-top: 30;
  --vp-z-index-backdrop: 40;
  --vp-z-index-sidebar: 50;
  --vp-z-index-footer: 60;
}

/**
 * Icons
 * -------------------------------------------------------------------------- */

:root {
  --vp-icon-copy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='20' width='20' stroke='rgba(128,128,128,1)' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2'/%3E%3C/svg%3E");
  --vp-icon-copied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='20' width='20' stroke='rgba(128,128,128,1)' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2m-6 9 2 2 4-4'/%3E%3C/svg%3E");
}

/**
 * Layouts
 * -------------------------------------------------------------------------- */

:root {
  --vp-layout-max-width: 1440px;
}

/**
 * Component: Header Anchor
 * -------------------------------------------------------------------------- */

:root {
  --vp-header-anchor-symbol: '#';
}

/**
 * Component: Code
 * -------------------------------------------------------------------------- */

:root {
  --vp-code-line-height: 1.7;
  --vp-code-font-size: 0.875em;
  --vp-code-color: var(--vp-c-brand-1);
  --vp-code-link-color: var(--vp-c-brand-1);
  --vp-code-link-hover-color: var(--vp-c-brand-2);
  --vp-code-bg: var(--vp-c-mute-3);

  --vp-code-block-color: rgba(255, 255, 245, 0.86);
  --vp-code-block-bg: #161618;
  --vp-code-block-divider-color: #000000;

  --vp-code-lang-color: rgba(235, 235, 245, 0.38);

  --vp-code-line-highlight-color: #000000;
  --vp-code-line-number-color: rgba(235, 235, 245, 0.38);

  --vp-code-line-diff-add-color: var(--vp-c-green-dimm-2);
  --vp-code-line-diff-add-symbol-color: var(--vp-c-green-1);

  --vp-code-line-diff-remove-color: var(--vp-c-red-dimm-2);
  --vp-code-line-diff-remove-symbol-color: var(--vp-c-red-1);

  --vp-code-line-warning-color: var(--vp-c-yellow-dimm-2);
  --vp-code-line-error-color: var(--vp-c-red-dimm-2);

  --vp-code-copy-code-border-color: rgba(82, 82, 89, 0.32);
  --vp-code-copy-code-bg: #252529;
  --vp-code-copy-code-hover-border-color: rgba(82, 82, 89, 0.32);
  --vp-code-copy-code-hover-bg: #323238;
  --vp-code-copy-code-active-text: rgba(255, 255, 245, 0.86);

  --vp-code-tab-divider: var(--vp-code-block-divider-color);
  --vp-code-tab-text-color: rgba(235, 235, 245, 0.6);
  --vp-code-tab-bg: var(--vp-code-block-bg);
  --vp-code-tab-hover-text-color: rgba(255, 255, 245, 0.86);
  --vp-code-tab-active-text-color: rgba(255, 255, 245, 0.86);
  --vp-code-tab-active-bar-color: var(--vp-c-brand-1);
}

:root:not(.dark) .vp-adaptive-theme {
  --vp-c-code-dimm: var(--vp-c-text-2);

  --vp-code-block-color: var(--vp-c-text-1);
  --vp-code-block-bg: #f6f6f7;
  --vp-code-block-divider-color: var(--vp-c-gutter);

  --vp-code-line-highlight-color: #eeeef0;
  --vp-code-line-number-color: var(--vp-c-text-2);

  --vp-code-copy-code-bg: #f6f6f7;
  --vp-code-copy-code-hover-bg: #eeeef0;
  --vp-code-copy-code-active-text: var(--vp-c-text-2);

  --vp-code-tab-divider: var(--vp-c-gutter);
  --vp-code-tab-text-color: var(--vp-c-text-2);
  --vp-code-tab-bg: var(--vp-code-block-bg);
  --vp-code-tab-hover-text-color: var(--vp-c-text-1);
  --vp-code-tab-active-text-color: var(--vp-c-text-1);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-2);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: var(--vp-c-brand-1);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: var(--vp-c-brand-1);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);

  --vp-button-alt-border: var(--vp-c-mute-2);
  --vp-button-alt-text: var(--vp-c-neutral);
  --vp-button-alt-bg: var(--vp-c-mute-3);
  --vp-button-alt-hover-border: var(--vp-c-mute-1);
  --vp-button-alt-hover-text: var(--vp-c-neutral);
  --vp-button-alt-hover-bg: var(--vp-c-mute-2);
  --vp-button-alt-active-border: var(--vp-c-mute-1);
  --vp-button-alt-active-text: var(--vp-c-neutral);
  --vp-button-alt-active-bg: var(--vp-c-mute-1);

  --vp-button-sponsor-border: var(--vp-c-text-2);
  --vp-button-sponsor-text: var(--vp-c-text-2);
  --vp-button-sponsor-bg: transparent;
  --vp-button-sponsor-hover-border: var(--vp-c-sponsor);
  --vp-button-sponsor-hover-text: var(--vp-c-sponsor);
  --vp-button-sponsor-hover-bg: transparent;
  --vp-button-sponsor-active-border: var(--vp-c-sponsor);
  --vp-button-sponsor-active-text: var(--vp-c-sponsor);
  --vp-button-sponsor-active-bg: transparent;
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-font-size: 14px;
  --vp-custom-block-code-font-size: 13px;

  --vp-custom-block-info-border: var(--vp-c-border);
  --vp-custom-block-info-text: var(--vp-c-text-2);
  --vp-custom-block-info-bg: var(--vp-c-bg-soft);
  --vp-custom-block-info-code-bg: var(--vp-c-bg-mute);

  --vp-custom-block-tip-border: var(--vp-c-brand-dimm-2);
  --vp-custom-block-tip-text: var(--vp-c-brand-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm-1);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-dimm-2);

  --vp-custom-block-warning-border: var(--vp-c-yellow-dimm-2);
  --vp-custom-block-warning-text: var(--vp-c-yellow-1);
  --vp-custom-block-warning-bg: var(--vp-c-yellow-dimm-1);
  --vp-custom-block-warning-code-bg: var(--vp-c-yellow-dimm-2);

  --vp-custom-block-danger-border: var(--vp-c-red-dimm-2);
  --vp-custom-block-danger-text: var(--vp-c-red-1);
  --vp-custom-block-danger-bg: var(--vp-c-red-dimm-1);
  --vp-custom-block-danger-code-bg: var(--vp-c-red-dimm-2);

  --vp-custom-block-details-border: var(--vp-custom-block-info-border);
  --vp-custom-block-details-text: var(--vp-custom-block-info-text);
  --vp-custom-block-details-bg: var(--vp-custom-block-info-bg);
  --vp-custom-block-details-code-bg: var(--vp-custom-block-info-code-bg);
}

/**
 * Component: Input
 * -------------------------------------------------------------------------- */

:root {
  --vp-input-border-color: var(--vp-c-border);
  --vp-input-bg-color: var(--vp-c-bg-alt);

  --vp-input-switch-bg-color: var(--vp-c-bg-mute);
}

/**
 * Component: Nav
 * -------------------------------------------------------------------------- */

:root {
  --vp-nav-height: 64px;
  --vp-nav-bg-color: var(--vp-c-bg);
  --vp-nav-screen-bg-color: var(--vp-c-bg);
  --vp-nav-logo-height: 24px;
}

/**
 * Component: Local Nav
 * -------------------------------------------------------------------------- */

:root {
  --vp-local-nav-bg-color: var(--vp-c-bg);
}

/**
 * Component: Sidebar
 * -------------------------------------------------------------------------- */

:root {
  --vp-sidebar-width: 272px;
  --vp-sidebar-bg-color: var(--vp-c-bg-alt);
}

/**
 * Colors Backdrop
 * -------------------------------------------------------------------------- */

:root {
  --vp-backdrop-bg-color: rgba(0, 0, 0, 0.6);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: var(--vp-c-brand-1);
  --vp-home-hero-name-background: transparent;

  --vp-home-hero-image-background-image: none;
  --vp-home-hero-image-filter: none;
}

/**
 * Component: Badge
 * -------------------------------------------------------------------------- */

:root {
  --vp-badge-info-border: var(--vp-c-mute-2);
  --vp-badge-info-text: var(--vp-c-text-2);
  --vp-badge-info-bg: var(--vp-c-mute-3);

  --vp-badge-tip-border: var(--vp-c-brand-1);
  --vp-badge-tip-text: var(--vp-c-brand-1);
  --vp-badge-tip-bg: var(--vp-c-brand-dimm-1);

  --vp-badge-warning-border: var(--vp-c-yellow-2);
  --vp-badge-warning-text: var(--vp-c-yellow-1);
  --vp-badge-warning-bg: var(--vp-c-yellow-dimm-1);

  --vp-badge-danger-border: var(--vp-c-red-2);
  --vp-badge-danger-text: var(--vp-c-red-1);
  --vp-badge-danger-bg: var(--vp-c-red-dimm-1);
}

/**
 * Component: Carbon Ads
 * -------------------------------------------------------------------------- */

:root {
  --vp-carbon-ads-text-color: var(--vp-c-text-1);
  --vp-carbon-ads-poweredby-color: var(--vp-c-text-2);
  --vp-carbon-ads-bg-color: var(--vp-c-bg-soft);
  --vp-carbon-ads-hover-text-color: var(--vp-c-brand-1);
  --vp-carbon-ads-hover-poweredby-color: var(--vp-c-text-1);
}

/**
  * Component: Local Search
  * -------------------------------------------------------------------------- */

:root {
  --vp-local-search-bg: var(--vp-c-bg);
  --vp-local-search-result-bg: var(--vp-c-bg);
  --vp-local-search-result-border: var(--vp-c-divider);
  --vp-local-search-result-selected-bg: var(--vp-c-bg);
  --vp-local-search-result-selected-border: var(--vp-c-brand-1);
  --vp-local-search-highlight-bg: var(--vp-c-green-lighter);
  --vp-local-search-highlight-text: var(--vp-c-black);
}
