/**
 * Colors Base
 *
 * These are the pure base color presets. Most of the time, you should not be
 * using these colors directly in the theme but rather use "Colors Theme"
 * instead because those are "Theme (light or dark)" dependant.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-white: #ffffff;
  --vp-c-white-soft: #f9f9f9;
  --vp-c-white-mute: #f1f1f1;

  --vp-c-black: #1a1a1a;
  --vp-c-black-pure: #000000;
  --vp-c-black-soft: #242424;
  --vp-c-black-mute: #2f2f2f;

  --vp-c-gray: #8e8e8e;
  --vp-c-gray-light-1: #aeaeae;
  --vp-c-gray-light-2: #c7c7c7;
  --vp-c-gray-light-3: #d1d1d1;
  --vp-c-gray-light-4: #e5e5e5;
  --vp-c-gray-light-5: #f2f2f2;
  --vp-c-gray-dark-1: #636363;
  --vp-c-gray-dark-2: #484848;
  --vp-c-gray-dark-3: #3a3a3a;
  --vp-c-gray-dark-4: #282828;
  --vp-c-gray-dark-5: #202020;

  --vp-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vp-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vp-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vp-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vp-c-text-light-1: var(--vp-c-indigo);
  --vp-c-text-light-2: rgba(60, 60, 60, 0.70);
  --vp-c-text-light-3: rgba(60, 60, 60, 0.33);
  --vp-c-text-light-4: rgba(60, 60, 60, 0.18);

  --vp-c-text-dark-1: rgba(255, 255, 255, 0.87);
  --vp-c-text-dark-2: rgba(235, 235, 235, 0.60);
  --vp-c-text-dark-3: rgba(235, 235, 235, 0.38);
  --vp-c-text-dark-4: rgba(235, 235, 235, 0.18);

  --vp-c-green: #42b883;
  --vp-c-green-light: #42d392;
  --vp-c-green-lighter: #35eb9a;
  --vp-c-green-dark: #33a06f;
  --vp-c-green-darker: #155f3e;

  --vp-c-indigo: #213547;
  --vp-c-indigo-soft: #476582;
  --vp-c-indigo-light: #aac8e4;

  --vp-c-blue: #3b8eed;
  --vp-c-blue-light: #549ced;
  --vp-c-blue-lighter: #50a2ff;
  --vp-c-blue-dark: #3468a3;
  --vp-c-blue-darker: #255489;

  --vp-c-yellow: #ffc517;
  --vp-c-yellow-light: #ffe417;
  --vp-c-yellow-lighter: #ffff17;
  --vp-c-yellow-dark: #e0ad15;
  --vp-c-yellow-darker: #bc9112;

  --vp-c-red: #ed3c50;
  --vp-c-red-light: #f43771;
  --vp-c-red-lighter: #fd1d7c;
  --vp-c-red-dark: #cd2d3f;
  --vp-c-red-darker: #ab2131;

  --vp-c-purple: #de41e0;
  --vp-c-purple-light: #e936eb;
  --vp-c-purple-lighter: #f616f8;
  --vp-c-purple-dark: #823c83;
  --vp-c-purple-darker: #602960;
}

/**
 * Colors Theme
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-bg: var(--vp-c-white);
  --vp-c-bg-soft: var(--vp-c-white-soft);
  --vp-c-bg-mute: var(--vp-c-white-mute);
  --vp-c-bg-content: var(--vp-c-white);
  --vp-c-bg-sidebar: var(--vp-c-white-soft);

  --vp-c-divider: var(--vp-c-divider-light-1);
  --vp-c-divider-light: var(--vp-c-divider-light-2);

  --vp-c-divider-inverse: var(--vp-c-divider-dark-1);
  --vp-c-divider-inverse-light: var(--vp-c-divider-dark-2);

  --vp-c-text-1: var(--vp-c-text-light-1);
  --vp-c-text-2: var(--vp-c-text-light-2);
  --vp-c-text-3: var(--vp-c-text-light-3);
  --vp-c-text-4: var(--vp-c-text-light-4);

  --vp-c-text-inverse-1: var(--vp-c-text-dark-1);
  --vp-c-text-inverse-2: var(--vp-c-text-dark-2);
  --vp-c-text-inverse-3: var(--vp-c-text-dark-3);
  --vp-c-text-inverse-4: var(--vp-c-text-dark-4);

  --vp-c-text-code: var(--vp-c-indigo-soft);

  --vp-c-brand: var(--vp-c-green);
  --vp-c-brand-light: var(--vp-c-green-light);
  --vp-c-brand-dark: var(--vp-c-green-dark);
}

.dark {
  --vp-c-bg: var(--vp-c-black);
  --vp-c-bg-soft: var(--vp-c-black-soft);
  --vp-c-bg-mute: var(--vp-c-black-mute);
  --vp-c-bg-content: var(--vp-c-bg-soft);
  --vp-c-bg-sidebar: var(--vp-c-bg);

  --vp-c-divider: var(--vp-c-divider-dark-1);
  --vp-c-divider-light: var(--vp-c-divider-dark-2);

  --vp-c-divider-inverse: var(--vp-c-divider-light-1);
  --vp-c-divider-inverse-light: var(--vp-c-divider-light-2);

  --vp-c-text-1: var(--vp-c-text-dark-1);
  --vp-c-text-2: var(--vp-c-text-dark-2);
  --vp-c-text-3: var(--vp-c-text-dark-3);
  --vp-c-text-4: var(--vp-c-text-dark-4);

  --vp-c-text-inverse-1: var(--vp-c-text-light-1);
  --vp-c-text-inverse-2: var(--vp-c-text-light-2);
  --vp-c-text-inverse-3: var(--vp-c-text-light-3);
  --vp-c-text-inverse-4: var(--vp-c-text-light-4);

  --vp-c-text-code: var(--vp-c-indigo-light);
}

/**
 * Typography
 * -------------------------------------------------------------------------- */

:root {
  --vp-font-family-base: Inter, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --vp-font-family-mono: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/**
 * Shadows
 * -------------------------------------------------------------------------- */

:root {
  --vp-shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
  --vp-shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
  --vp-shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
  --vp-shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12);
  --vp-shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.16);
}

/**
 * Z-indexes
 * -------------------------------------------------------------------------- */

:root {
  --vp-z-index-local-nav: 10;
  --vp-z-index-nav: 20;
  --vp-z-backdrop: 30;
  --vp-z-index-sidebar: 40;
}

/**
 * Layouts
 * -------------------------------------------------------------------------- */

:root {
  --vp-layout-max-width: 1376px;
}

/**
 * Component: Nav
 * -------------------------------------------------------------------------- */

:root {
  --vp-nav-height: var(--vp-nav-height-mobile);
  --vp-nav-height-mobile: 56px;
  --vp-nav-height-desktop: 72px;
}

@media (min-width: 960px) {
  :root {
    --vp-nav-height: var(--vp-nav-height-desktop);
  }
}

/**
 * Component: Sidebar
 * -------------------------------------------------------------------------- */

:root {
  --vp-sidebar-width: 272px;
}

/**
 * Component: Code
 * -------------------------------------------------------------------------- */

:root {
  --vp-code-line-height: 24px;
  --vp-code-font-size: 14px;

  --vp-code-block-color: var(--vp-c-text-dark-1);
  --vp-code-block-bg: #292d3e;
}

.dark {
  --vp-code-block-bg: var(--vp-c-bg-sidebar);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {

}

.dark {

}
