:root {
  /**
   * Colors Base
   *
   * These are the pure base color presets. Most of the time, you should not be
   * using these colors directly in the theme but rather use "Colors Theme"
   * instead because those are "Theme (light or dark)" dependant.
   * -------------------------------------------------------------------------- */

  /* White */
  --vp-c-white: #fff;
  --vp-c-white-soft: #f9f9f9;
  --vp-c-white-mute: #f1f1f1;

  /* Black */
  --vp-c-black: #1a1a1a;
  --vp-c-black-pure: #000;
  --vp-c-black-soft: #242424;
  --vp-c-black-mute: #2f2f2f;

  /* Gray */
  --vp-c-gray: #8e8e8e;
  --vp-c-gray-light-1: #aeaeae;
  --vp-c-gray-light-2: #c7c7c7;
  --vp-c-gray-light-3: #d1d1d1;
  --vp-c-gray-light-4: #e5e5e5;
  --vp-c-gray-light-5: #f2f2f2;
  --vp-c-gray-dark-1: #636363;
  --vp-c-gray-dark-2: #484848;
  --vp-c-gray-dark-3: #3a3a3a;
  --vp-c-gray-dark-4: #282828;
  --vp-c-gray-dark-5: #202020;

  /* Divider */
  --vp-c-divider-light-1: rgb(60 60 60 / 29%);
  --vp-c-divider-light-2: rgb(60 60 60 / 12%);
  --vp-c-divider-dark-1: rgb(84 84 84 / 65%);
  --vp-c-divider-dark-2: rgb(84 84 84 / 48%);

  /* Text light */
  --vp-c-text-light-1: var(--vp-c-indigo);
  --vp-c-text-light-2: rgb(60 60 60 / 70%);
  --vp-c-text-light-3: rgb(60 60 60 / 33%);
  --vp-c-text-light-4: rgb(60 60 60 / 18%);

  /* Text dark */
  --vp-c-text-dark-1: rgb(255 255 255 / 87%);
  --vp-c-text-dark-2: rgb(235 235 235 / 60%);
  --vp-c-text-dark-3: rgb(235 235 235 / 38%);
  --vp-c-text-dark-4: rgb(235 235 235 / 18%);

  /* Indigo */
  --vp-c-indigo: #213547;
  --vp-c-indigo-soft: #476582;
  --vp-c-indigo-light: #aac8e4;
  --vp-c-indigo-lighter: #c9def1;
  --vp-c-indigo-dark: #1d2f3f;
  --vp-c-indigo-darker: #14212e;

  /* Green */
  --vp-c-green: #42b883;
  --vp-c-green-light: #42d392;
  --vp-c-green-lighter: #35eb9a;
  --vp-c-green-dark: #33a06f;
  --vp-c-green-darker: #155f3e;
  --vp-c-green-dimm-1: rgb(66 184 131 / 50%);
  --vp-c-green-dimm-2: rgb(66 184 131 / 25%);
  --vp-c-green-dimm-3: rgb(66 184 131 / 5%);

  /* Yellow */
  --vp-c-yellow: #ffc517;
  --vp-c-yellow-light: #fcd253;
  --vp-c-yellow-lighter: #fcfc7c;
  --vp-c-yellow-dark: #e0ad15;
  --vp-c-yellow-darker: #ad850e;
  --vp-c-yellow-dimm-1: rgb(255 197 23 / 50%);
  --vp-c-yellow-dimm-2: rgb(255 197 23 / 25%);
  --vp-c-yellow-dimm-3: rgb(255 197 23 / 5%);

  /* Red */
  --vp-c-red: #ed3c50;
  --vp-c-red-light: #f54e82;
  --vp-c-red-lighter: #fd1d7c;
  --vp-c-red-dark: #cd2d3f;
  --vp-c-red-darker: #ab2131;
  --vp-c-red-dimm-1: rgb(237 60 80 / 50%);
  --vp-c-red-dimm-2: rgb(237 60 80 / 25%);
  --vp-c-red-dimm-3: rgb(237 60 80 / 5%);

  /**
   * Colors Theme
   * -------------------------------------------------------------------------- */

  /* Background */
  --vp-c-bg: var(--vp-c-white);
  --vp-c-bg-soft: var(--vp-c-white-soft);
  --vp-c-bg-mute: var(--vp-c-white-mute);
  --vp-c-bg-alt: var(--vp-c-white-soft);

  /* Divider */
  --vp-c-divider: var(--vp-c-divider-light-1);
  --vp-c-divider-light: var(--vp-c-divider-light-2);

  /* Divider inverse */
  --vp-c-divider-inverse: var(--vp-c-divider-dark-1);
  --vp-c-divider-inverse-light: var(--vp-c-divider-dark-2);

  /* Text */
  --vp-c-text-1: var(--vp-c-text-light-1);
  --vp-c-text-2: var(--vp-c-text-light-2);
  --vp-c-text-3: var(--vp-c-text-light-3);
  --vp-c-text-4: var(--vp-c-text-light-4);

  /* Text inverse */
  --vp-c-text-inverse-1: var(--vp-c-text-dark-1);
  --vp-c-text-inverse-2: var(--vp-c-text-dark-2);
  --vp-c-text-inverse-3: var(--vp-c-text-dark-3);
  --vp-c-text-inverse-4: var(--vp-c-text-dark-4);

  /* Text code */
  --vp-c-text-code: var(--vp-c-indigo-soft);

  /* Brand */
  --vp-c-brand: var(--vp-c-green);
  --vp-c-brand-light: var(--vp-c-green-light);
  --vp-c-brand-lighter: var(--vp-c-green-lighter);
  --vp-c-brand-dark: var(--vp-c-green-dark);
  --vp-c-brand-darker: var(--vp-c-green-darker);

  /* Sponsor */
  --vp-c-sponsor: #fd1d7c;

  /**
   * Typography
   * -------------------------------------------------------------------------- */
  --vp-font-family-base:
    "Inter var experimental",
    "Inter var",
    -apple-system,
    blinkmacsystemfont,
    "Segoe UI",
    roboto,
    oxygen,
    ubuntu,
    cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  --vp-font-family-mono: menlo, monaco, consolas, "Courier New", monospace;

  /**
  * Shadows
  * -------------------------------------------------------------------------- */
  --vp-shadow-1: 0 1px 2px rgb(0 0 0 / 4%), 0 1px 2px rgb(0 0 0 / 6%);
  --vp-shadow-2: 0 3px 12px rgb(0 0 0 / 7%), 0 1px 4px rgb(0 0 0 / 7%);
  --vp-shadow-3: 0 12px 32px rgb(0 0 0 / 10%), 0 2px 6px rgb(0 0 0 / 8%);
  --vp-shadow-4: 0 14px 44px rgb(0 0 0 / 12%), 0 3px 9px rgb(0 0 0 / 12%);
  --vp-shadow-5: 0 18px 56px rgb(0 0 0 / 16%), 0 4px 12px rgb(0 0 0 / 16%);

  /**
   * Z-indexes
   * -------------------------------------------------------------------------- */
  --vp-z-index-local-nav: 10;
  --vp-z-index-nav: 20;
  --vp-z-index-backdrop: 30;
  --vp-z-index-sidebar: 40;
  --vp-z-index-footer: 50;

  /**
   * Icons
   * -------------------------------------------------------------------------- */
  --vp-icon-copy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='20' width='20' stroke='rgba(128,128,128,1)' stroke-width='2' class='h-6 w-6' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2'/%3E%3C/svg%3E");
  --vp-icon-copied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='20' width='20' stroke='rgba(128,128,128,1)' stroke-width='2' class='h-6 w-6' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2m-6 9 2 2 4-4'/%3E%3C/svg%3E");

  /**
   * Layouts
   * -------------------------------------------------------------------------- */
  --vp-layout-max-width: 1440px;

  /**
   * Component: Code
   * -------------------------------------------------------------------------- */
  --vp-code-line-height: 1.7;
  --vp-code-font-size: 0.875em;
  --vp-code-block-color: var(--vp-c-text-dark-1);
  --vp-code-block-bg: #292d3e;
  --vp-code-line-highlight-color: rgb(0 0 0 / 50%);
  --vp-code-line-number-color: var(--vp-c-text-dark-3);
  --vp-code-copy-code-hover-bg: rgb(255 255 255 / 5%);
  --vp-code-copy-code-active-text: var(--vp-c-text-dark-2);

  /**
   * Component: Button
   * -------------------------------------------------------------------------- */

  /* Button brand */
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-text-dark-1);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-text-dark-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-text-dark-1);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);

  /* Button alt */
  --vp-button-alt-border: var(--vp-c-gray-light-3);
  --vp-button-alt-text: var(--vp-c-text-light-1);
  --vp-button-alt-bg: var(--vp-c-gray-light-5);
  --vp-button-alt-hover-border: var(--vp-c-gray-light-3);
  --vp-button-alt-hover-text: var(--vp-c-text-light-1);
  --vp-button-alt-hover-bg: var(--vp-c-gray-light-4);
  --vp-button-alt-active-border: var(--vp-c-gray-light-3);
  --vp-button-alt-active-text: var(--vp-c-text-light-1);
  --vp-button-alt-active-bg: var(--vp-c-gray-light-3);

  /* Button sponsor */
  --vp-button-sponsor-border: var(--vp-c-gray-light-3);
  --vp-button-sponsor-text: var(--vp-c-text-light-2);
  --vp-button-sponsor-bg: transparent;
  --vp-button-sponsor-hover-border: var(--vp-c-sponsor);
  --vp-button-sponsor-hover-text: var(--vp-c-sponsor);
  --vp-button-sponsor-hover-bg: transparent;
  --vp-button-sponsor-active-border: var(--vp-c-sponsor);
  --vp-button-sponsor-active-text: var(--vp-c-sponsor);
  --vp-button-sponsor-active-bg: transparent;

  /**
   * Component: Custom Block
   * -------------------------------------------------------------------------- */
  --vp-custom-block-code-font-size: 13px;

  /* Info */
  --vp-custom-block-info-border: var(--vp-c-divider-light);
  --vp-custom-block-info-text: var(--vp-c-text-2);
  --vp-custom-block-info-bg: var(--vp-c-white-soft);
  --vp-custom-block-info-code-bg: var(--vp-c-gray-light-4);

  /* Tip */
  --vp-custom-block-tip-border: var(--vp-c-green-dimm-1);
  --vp-custom-block-tip-text: var(--vp-c-green-darker);
  --vp-custom-block-tip-bg: var(--vp-c-green-dimm-3);
  --vp-custom-block-tip-code-bg: var(--vp-custom-block-tip-bg);

  /* Warning */
  --vp-custom-block-warning-border: var(--vp-c-yellow-dimm-1);
  --vp-custom-block-warning-text: var(--vp-c-yellow-darker);
  --vp-custom-block-warning-bg: var(--vp-c-yellow-dimm-3);
  --vp-custom-block-warning-code-bg: var(--vp-custom-block-warning-bg);

  /* Danger */
  --vp-custom-block-danger-border: var(--vp-c-red-dimm-1);
  --vp-custom-block-danger-text: var(--vp-c-red-darker);
  --vp-custom-block-danger-bg: var(--vp-c-red-dimm-3);
  --vp-custom-block-danger-code-bg: var(--vp-custom-block-danger-bg);

  /* Details */
  --vp-custom-block-details-border: var(--vp-custom-block-info-border);
  --vp-custom-block-details-text: var(--vp-custom-block-info-text);
  --vp-custom-block-details-bg: var(--vp-custom-block-info-bg);
  --vp-custom-block-details-code-bg: var(--vp-custom-block-details-bg);

  /**
   * Component: Nav
   * -------------------------------------------------------------------------- */
  --vp-nav-height: var(--vp-nav-height-mobile);
  --vp-nav-height-mobile: 56px;
  --vp-nav-height-desktop: 72px;

  @media (min-width: 960px) {
    --vp-nav-height: var(--vp-nav-height-desktop);
  }

  /**
   * Component: Sidebar
   * -------------------------------------------------------------------------- */
  --vp-sidebar-width: 272px;

  /**
   * Component: Home
   * -------------------------------------------------------------------------- */

  /* Hero name */
  --vp-home-hero-name-color: var(--vp-c-brand);
  --vp-home-hero-name-background: transparent;

  /* Hero image */
  --vp-home-hero-image-background-image: none;
  --vp-home-hero-image-filter: none;
}

.dark {
  /**
  * Colors Theme
  * -------------------------------------------------------------------------- */

  /* Background */
  --vp-c-bg: var(--vp-c-black-soft);
  --vp-c-bg-soft: var(--vp-c-black-mute);
  --vp-c-bg-mute: var(--vp-c-gray-dark-3);
  --vp-c-bg-alt: var(--vp-c-black);

  /* Divider */
  --vp-c-divider: var(--vp-c-divider-dark-1);
  --vp-c-divider-light: var(--vp-c-divider-dark-2);

  /* Divider inverse */
  --vp-c-divider-inverse: var(--vp-c-divider-light-1);
  --vp-c-divider-inverse-light: var(--vp-c-divider-light-2);

  /* Text */
  --vp-c-text-1: var(--vp-c-text-dark-1);
  --vp-c-text-2: var(--vp-c-text-dark-2);
  --vp-c-text-3: var(--vp-c-text-dark-3);
  --vp-c-text-4: var(--vp-c-text-dark-4);

  /* Text inverse */
  --vp-c-text-inverse-1: var(--vp-c-text-light-1);
  --vp-c-text-inverse-2: var(--vp-c-text-light-2);
  --vp-c-text-inverse-3: var(--vp-c-text-light-3);
  --vp-c-text-inverse-4: var(--vp-c-text-light-4);

  /* Text code */
  --vp-c-text-code: var(--vp-c-indigo-lighter);

  /**
  * Component: Code
  * -------------------------------------------------------------------------- */
  --vp-code-block-bg: var(--vp-c-bg-alt);

  /**
  * Component: Button
  * -------------------------------------------------------------------------- */

  /* Button brand */
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-text-dark-1);
  --vp-button-brand-bg: var(--vp-c-brand-dark);
  --vp-button-brand-hover-border: var(--vp-c-brand-lighter);
  --vp-button-brand-hover-text: var(--vp-c-text-dark-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand);
  --vp-button-brand-active-border: var(--vp-c-brand-lighter);
  --vp-button-brand-active-text: var(--vp-c-text-dark-1);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);

  /* Button alt */
  --vp-button-alt-border: var(--vp-c-gray-dark-2);
  --vp-button-alt-text: var(--vp-c-text-dark-1);
  --vp-button-alt-bg: var(--vp-c-bg-mute);
  --vp-button-alt-hover-border: var(--vp-c-gray-dark-2);
  --vp-button-alt-hover-text: var(--vp-c-text-dark-1);
  --vp-button-alt-hover-bg: var(--vp-c-gray-dark-2);
  --vp-button-alt-active-border: var(--vp-c-gray-dark-2);
  --vp-button-alt-active-text: var(--vp-c-text-dark-1);
  --vp-button-alt-active-bg: var(--vp-button-alt-bg);

  /* Button sponsor */
  --vp-button-sponsor-border: var(--vp-c-gray-dark-1);
  --vp-button-sponsor-text: var(--vp-c-text-dark-2);

  /**
   * Component: Custom Block
   * -------------------------------------------------------------------------- */

  /* Info */
  --vp-custom-block-info-border: var(--vp-c-divider-light);
  --vp-custom-block-info-bg: var(--vp-c-black-mute);
  --vp-custom-block-info-code-bg: var(--vp-c-gray-dark-4);

  /* Tip */
  --vp-custom-block-tip-border: var(--vp-c-green-dimm-2);
  --vp-custom-block-tip-text: var(--vp-c-green-light);

  /* Warning */
  --vp-custom-block-warning-border: var(--vp-c-yellow-dimm-2);
  --vp-custom-block-warning-text: var(--vp-c-yellow-light);

  /* Danger */
  --vp-custom-block-danger-border: var(--vp-c-red-dimm-2);
  --vp-custom-block-danger-text: var(--vp-c-red-light);
}
