.theme {
  --border-color: rgb(226, 232, 240);
  --header-height: 4rem;
  --sidebar-width: 20rem;
  --text-color: #2c3e50;
  --text-color-light: #476582;
  --code-bg-color: #282c34;
  --accent-color: #3eaf7c;
}
