/**
 * VPSponsors styles are defined as global because a new class gets
 * allied in onMounted` hook and we can't use socped style.
 */
.vp-sponsor {
  border-radius: 16px;
  overflow: hidden;
}

.vp-sponsor.aside {
  border-radius: 12px;
}

.vp-sponsor-section + .vp-sponsor-section {
  margin-top: .25rem;
}

.vp-sponsor-tier {
  margin-bottom: .25rem;
  text-align: center;
  letter-spacing: .0625rem;
  line-height: 1.5rem;
  width: 100%;
  font-weight: 600;
  color: var(--vp-c-text-2);
  background-color: var(--vp-c-bg-soft);
}

.vp-sponsor.normal .vp-sponsor-tier {
  padding: .8125rem 0 .6875rem;
  font-size: .875rem;
}

.vp-sponsor.aside .vp-sponsor-tier {
  padding: .5625rem 0 .4375rem;
  font-size: .75rem;
}

.vp-sponsor-grid + .vp-sponsor-tier {
  margin-top: .25rem;
}

.vp-sponsor-grid {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
}

.vp-sponsor-grid.xmini .vp-sponsor-grid-link   { height: 4rem; }
.vp-sponsor-grid.xmini .vp-sponsor-grid-image  { max-width: 4rem; max-height: 1.375rem }

.vp-sponsor-grid.mini .vp-sponsor-grid-link   { height: 4.5rem; }
.vp-sponsor-grid.mini .vp-sponsor-grid-image  { max-width: 6rem; max-height: 1.5rem }

.vp-sponsor-grid.small .vp-sponsor-grid-link   { height: 6rem; }
.vp-sponsor-grid.small .vp-sponsor-grid-image  { max-width: 6rem; max-height: 1.5rem }

.vp-sponsor-grid.medium .vp-sponsor-grid-link  { height: 7rem; }
.vp-sponsor-grid.medium .vp-sponsor-grid-image { max-width: 7.5rem; max-height: 2.25rem }

.vp-sponsor-grid.big .vp-sponsor-grid-link     { height: 11.5rem; }
.vp-sponsor-grid.big .vp-sponsor-grid-image    { max-width: 12rem; max-height: 3.5rem }

.vp-sponsor-grid[data-vp-grid="2"] .vp-sponsor-grid-item {
  width: calc((100% - .25rem) / 2);
}

.vp-sponsor-grid[data-vp-grid="3"] .vp-sponsor-grid-item {
  width: calc((100% - .25rem * 2) / 3);
}

.vp-sponsor-grid[data-vp-grid="4"] .vp-sponsor-grid-item {
  width: calc((100% - .25rem * 3) / 4);
}

.vp-sponsor-grid[data-vp-grid="5"] .vp-sponsor-grid-item {
  width: calc((100% - .25rem * 4) / 5);
}

.vp-sponsor-grid[data-vp-grid="6"] .vp-sponsor-grid-item {
  width: calc((100% - .25rem * 5) / 6);
}

.vp-sponsor-grid-item {
  flex-shrink: 0;
  width: 100%;
  background-color: var(--vp-c-bg-soft);
  transition: background-color 0.25s;
}

.vp-sponsor-grid-item:hover {
  background-color: var(--vp-c-bg-mute);
}

.vp-sponsor-grid-item:hover .vp-sponsor-grid-image {
  filter: grayscale(0) invert(0);
}

.vp-sponsor-grid-item.empty:hover {
  background-color: var(--vp-c-bg-soft);
}

.dark .vp-sponsor-grid-item:hover {
  background-color: var(--vp-c-white-soft);
}

.dark .vp-sponsor-grid-item.empty:hover {
  background-color: var(--vp-c-black-mute);
}

.vp-sponsor-grid-link {
  display: flex;
}

.vp-sponsor-grid-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.vp-sponsor-grid-image {
  max-width: 100%;
  filter: grayscale(1);
  transition: filter 0.25s;
}

.dark .vp-sponsor-grid-image {
  filter: grayscale(1) invert(1);
}
