/**
 * VPSponsors styles are defined as global because a new class gets
 * allied in onMounted` hook and we can't use socped style.
 */
.vp-sponsor {
  border-radius: 16px;
  overflow: hidden;
}

.vp-sponsor.aside {
  border-radius: 12px;
}

.vp-sponsor-section + .vp-sponsor-section {
  margin-block-start: 4px;
}

.vp-sponsor-tier {
  margin-block-end: 4px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 24px;
  inline-size: 100%;
  font-weight: 600;
  color: var(--vp-c-text-2);
  background-color: var(--vp-c-bg-soft);
}

.vp-sponsor.normal .vp-sponsor-tier {
  padding: 13px 0 11px;
  font-size: 14px;
}

.vp-sponsor.aside .vp-sponsor-tier {
  padding: 9px 0 7px;
  font-size: 12px;
}

.vp-sponsor-grid + .vp-sponsor-tier {
  margin-block-start: 4px;
}

.vp-sponsor-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.vp-sponsor-grid.xmini .vp-sponsor-grid-link {
  block-size: 64px;
}
.vp-sponsor-grid.xmini .vp-sponsor-grid-image {
  max-inline-size: 64px;
  max-block-size: 22px;
}

.vp-sponsor-grid.mini .vp-sponsor-grid-link {
  block-size: 72px;
}
.vp-sponsor-grid.mini .vp-sponsor-grid-image {
  max-inline-size: 96px;
  max-block-size: 24px;
}

.vp-sponsor-grid.small .vp-sponsor-grid-link {
  block-size: 96px;
}
.vp-sponsor-grid.small .vp-sponsor-grid-image {
  max-inline-size: 96px;
  max-block-size: 24px;
}

.vp-sponsor-grid.medium .vp-sponsor-grid-link {
  block-size: 112px;
}
.vp-sponsor-grid.medium .vp-sponsor-grid-image {
  max-inline-size: 120px;
  max-block-size: 36px;
}

.vp-sponsor-grid.big .vp-sponsor-grid-link {
  block-size: 184px;
}
.vp-sponsor-grid.big .vp-sponsor-grid-image {
  max-inline-size: 192px;
  max-block-size: 56px;
}

.vp-sponsor-grid[data-vp-grid='2'] .vp-sponsor-grid-item {
  inline-size: calc((100% - 4px) / 2);
}

.vp-sponsor-grid[data-vp-grid='3'] .vp-sponsor-grid-item {
  inline-size: calc((100% - 4px * 2) / 3);
}

.vp-sponsor-grid[data-vp-grid='4'] .vp-sponsor-grid-item {
  inline-size: calc((100% - 4px * 3) / 4);
}

.vp-sponsor-grid[data-vp-grid='5'] .vp-sponsor-grid-item {
  inline-size: calc((100% - 4px * 4) / 5);
}

.vp-sponsor-grid[data-vp-grid='6'] .vp-sponsor-grid-item {
  inline-size: calc((100% - 4px * 5) / 6);
}

.vp-sponsor-grid-item {
  flex-shrink: 0;
  inline-size: 100%;
  background-color: var(--vp-c-bg-soft);
  transition: background-color 0.25s;
}

.vp-sponsor-grid-item:hover {
  background-color: var(--vp-c-bg-soft-down);
}

.vp-sponsor-grid-item:hover .vp-sponsor-grid-image {
  filter: grayscale(0) invert(0);
}

.vp-sponsor-grid-item.empty:hover {
  background-color: var(--vp-c-bg-soft);
}

.dark .vp-sponsor-grid-item:hover {
  background-color: var(--vp-c-white);
}

.dark .vp-sponsor-grid-item.empty:hover {
  background-color: var(--vp-c-bg-soft);
}

.vp-sponsor-grid-link {
  display: flex;
}

.vp-sponsor-grid-box {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
}

.vp-sponsor-grid-image {
  max-inline-size: 100%;
  filter: grayscale(1);
  transition: filter 0.25s;
}

.dark .vp-sponsor-grid-image {
  filter: grayscale(1) invert(1);
}
