:root:where(:lang(fa)) {
  --vp-font-family-base:
    'Vazirmatn', 'Inter', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(2.75rem);
}

@media (min-width: 40rem) {
  :root {
    --vp-home-hero-image-filter: blur(3.5rem);
  }
}

@media (min-width: 60rem) {
  :root {
    --vp-home-hero-image-filter: blur(4.25rem);
  }
}

.VPHero .VPImage {
  filter: drop-shadow(-0.125rem 0.25rem 0.375rem rgba(0, 0, 0, 0.2));
  padding: 1.125rem;
}
